
.comments{
    margin: 1rem auto;
    grid-area: 1/3;
    font-size: 1.5rem;
    color: black;
}
.icon-comments{
    padding: 0.2rem;
    font-size: 1.8rem;
    background-color: black;
    color: white;
}